block expertise-var
  - var srcSprite = 'static/images/sprite/sprite.png';
  - var expertiseGray = '#2f2d35';
  - var gretLight = '#ccc';

section#expertise
  .container
    header.expertise__titles.text-center.section-template
      h2.expertise__title.section-template__title.section-template__title--expGrey EXPERTISE
      p.expertise__description.section-template__description.section-template__description--expGray Lorem ipsum dolor sit amet proin gravida nibh vel velit
      hr.text-center(color=expertiseGray size="1" width="50")
    .expertise__cards.cards
      .cards__row.row
        .col-4.text-center
          div.cards__icon.icon-pc.m-auto
          h3.cards__title.paragraphBlack WEB DESIGN & DEVELOPMENT
          p.cards__text.paragraph This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .col-4.text-center
          div.cards__icon.icon-brush.m-auto
          h3.cards__title.paragraphBlack BRANDING IDENTITY
          p.cards__text.paragraph This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .col-4.text-center
          div.cards__icon.icon-mobile.m-auto
          h3.cards__title.paragraphBlack MOBILE APP
          p.cards__text.paragraph This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
      hr.text-center(color=gretLight size="1")
      .cards__row.row
        .col-4.text-center
          div.cards__icon.icon-circle.m-auto
          h3.cards__title.paragraphBlack SEARCH ENGINE OPTIMIZATION
          p.cards__text.paragraph This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .col-4.text-center
          div.cards__icon.icon-game.m-auto
          h3.cards__title.paragraphBlack GAME DEVELOPMENT
          p.cards__text.paragraph This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .col-4.text-center
          div.cards__icon.icon-heart.m-auto
          h3.cards__title.paragraphBlack MADE WITH LOVE
          p.cards__text.paragraph This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.