block varWorks
  - var counts = [1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 2, 1];

section#works
  header.works__header
    .works__wrapper.container
      h2.works__title.section-template__title OUR WORKS
      a.works__link.paragraph(href="#", target="_blank") See All Project in dribbble
  .works__main
    .row.m-0
      each count in counts
        .col-lg-2.col-md-3.col-sm-4.px-0
          img.works__img(src=`./static/images/content/works-top-${count}.png`, alt="our work image", height="200")
  .container
    .works__footer.text-center
      button.works__button.btn.btn--black LOAD MORE