.about-info {
  padding: 70px 0;
}

.about-info__text {
  color: $grey;
}

.about-info__title {
  padding-bottom: 25px;
}

.about-info__text:first-of-type {
  padding-bottom: 25px;
}

.about-info__btn {
  margin-top: 30px;
}

.about-video {
  height: 550px;

  @include cover-background;
  background-image: url(/static/images/content/about_bg.jpg);
}

.about-video__flex-item {
  display: flex;
  justify-content: center;
  align-self: center;

  height: inherit;
}

.about-video__textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-video__button {
  border-radius: 50%;
}

.about-video__button:hover svg circle{
  fill: $grey-light;
}

.about-video__description {
  font-family: $Roboto;
  font-size: 16px;
  font-weight: 900;

  color: $white;

  padding-top: 25px;
}