#expertise {
  padding: 70px 0;
}

.expertise__titles {
  padding-bottom: 40px;
}

.expertise__title{
  color: $expertise-gray;

  padding-bottom: 7px;
}

.expertise__description {
  padding-bottom: 15px;
}

.cards__row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cards__title {
  color: $grey;

  padding-top: 30px;
  padding-bottom: 20px;
}

.cards__text {
  color: $grey-dark;
}