footer.main-footer
  .container
    .row
      .col-md-4  
        .main-footer__head
          a(href="#home", target="_blank") 
            img(src="./static/images/common/Logo.png", alt="Logo Tajam", width="128", height="50")
        .main-footer__main
          p.paragraph.paragraph--white lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
      .col-md-4.main-footer__left
        .main-footer__head
          h3.main-footer__title-section.paragraphBlack.paragraphBlack--white OUR STUDIO
        .main-footer__main
          .main-footer__wrapper
            span.main-footer__icon.icon-map
            address.main-footer__contacts-address.paragraph.paragraph--white Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat <br/>11480 - Indonesia
          .main-footer__wrapper
            span.main-footer__icon.icon-phone
            p.main-footer__contacts-address.paragraph.paragraph--white 
              a.main-footer__contacts-tel(href="tel:+622122243333") (+62) 21-2224 3333
      .col-md-4
        .main-footer__head
          h3.main-footer__title-section.paragraphBlack.paragraphBlack--white STAY IN TOUCH
        .main-footer__main
          form.main-footer__form
            .d-flex
              label.form-label.visually-hidden(for="subscribe")
              input.main-footer__form-inp.form-control(
                id="subscribe"
                type="email"
                placeholder="Subscribe our newsletter"
                maxLength="30"
              )
              button.main-footer__form-btn(type="submit")
                span.icon-btn-paper.d-block
          
            ul.main-footer__social-block.main-footer__wrapper
              li.main-footer__social-icon
                a.icon-facebook.d-block(href="https://facebook.com", target="_blank")
              li.main-footer__social-icon
                a.icon-twitter.d-block(href="https://twitter.com/?lang=ru", target="_blank") 
              li.main-footer__social-icon
                a.icon-dribbble.d-block(href="#", target="_blank") 
              li.main-footer__social-icon
                a.icon-instagram.d-block(href="https://www.instagram.com/?hl=ru", target="_blank") 
              li.main-footer__social-icon
                a.icon-facebook.d-block(href="#", target="_blank", width="35", height="35") 
              li.main-footer__social-icon
                a.icon-youtube.d-block(href="https://www.youtube.com/", target="_blank") 
    .row.main-footer__footer
      .col-md-6
        ul.main-footer__nav-list
          li.main-footer__nav-item
            a.main-footer__nav-link(href="#", target="_blank")  HELP
          li.main-footer__nav-item
            a.main-footer__nav-link(href="#", target="_blank")  TERMS & CONDITION
          li.main-footer__nav-item
            a.main-footer__nav-link(href="#", target="_blank")  PRIVACY
      .col-md-6.text-center
        p.main-footer__coopyright.paragraph.paragraph--white Copyright © 2015 - Tajem Creative